<div>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 14pt;"><strong><span style="font-family: Calibri;">WizConnect Privacy Policy</span></strong></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><strong><span style="font-family: Calibri;">Your Privacy</span></strong></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">Your privacy is essentially important to us and your data remains yours. We do not collect any personally-identifying information nor transmit same to external locations when you use WizConnect.</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><strong><span style="font-family: Calibri;">Information we collect</span></strong></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">WizConnect collects aggregate, random and anonymous statistics such as device location, type, and operating system version, percentage of users who use a particular version or other features, to help improve the app or site. </span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><strong><span style="font-family: Calibri;">Your Consent</span></strong></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">By using our apps or site, you expressly consent to our privacy policy.</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><strong><span style="font-family: Calibri;">Contacting the Developer</span></strong></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">For any feedback or questions concerning this privacy policy, you may email the developer at </span><a style="text-decoration: none;" href="mailto:feedback@wizconnect.net"><u><span style="font-family: Calibri; color: #0000ff;">feedback@wizconnect.net</span></u></a></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">&nbsp;</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><strong><span style="font-family: Calibri;">Changes to this policy</span></strong></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">Any changes to this policy will be posted on this page.</span></p>
<p style="margin-top: 0pt; margin-bottom: 10pt; line-height: 115%; font-size: 11pt;"><span style="font-family: Calibri;">Summary of changes to date:</span></p>
<ul style="margin: 0pt; padding-left: 0pt;" type="disc">
<li style="margin-left: 28.06pt; margin-bottom: 10pt; line-height: 115%; padding-left: 7.94pt; font-family: serif; font-size: 11pt;"><span style="font-family: Calibri;">December &hellip;., 2018: First published</span></li>
</ul>
</div>